<section class = "question-edit">
<h1>Editar Pergunta</h1>

<%= render 'form', question: @question %>

<div id = "ref">
    <%= link_to 'Show', @question %> |
    <%= link_to 'Back', questions_path %>
</div>
</section>