<section class = "question-show">

  <p>
    <strong>Title:</strong>
    <%= @question.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @question.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @question.user.name.capitalize %>
  </p>

  <p> <%= question_likes(@question).size %>
    <%= link_to 'Like', likequestion_path(@question.id), method: :post %> </li>
  </p>

  <p>
  <strong>Tags:</strong>
  <%= @tags.size%>
  <ul>
  <% @tags.each do |tag|%>
      <li> <%= tag.name %> </li>
  <%end%>
  </ul>
</p>



  <p>Adicionar tags:
    <%= form_for(@tag_question, url: :addquestiontag) do |form| %>
      <%= form.select(:tag_id, @tag_all.collect { |tag| [tag.name, tag.id] }) %>
      <%= form.hidden_field :question_id,value: @question.id %>
      <%= form.submit %>
  <%end%>

  

  <p> 
  <strong>Respostas:</strong>
    <% @answers.each do |answer|%>
      <%= answer_user(answer.user_id).name.capitalize %>: <%= answer.content%>
      <%if answer.best %>
      <strong>Melhor resposta</strong>
      <%end%>
      <%if answer.user_id == current_user.id%>
      <%= link_to 'Apagar', destroyanswer_path(answer), method: :delete %>
      <%end%>
      <%if @question.user_id == current_user.id%>
      <%= link_to 'Melhor resposta', '/bestanswer?answer='+answer.id.to_s+'&question='+@question.id.to_s, method: :post %>
      <%end%>
      <br>
    <%end%>
  </p>

  <p> Adicionar respostas/comentários:
    <%= form_for(@answer, url: :addanswer) do |form| %>
      <%= form.text_area :content %>
      <%= form.hidden_field :question_id,value: @question.id %>
      <%= form.submit %>
  <%end%>
  <div id = "ref">   
    <%= link_to 'Edit', edit_question_path(@question) %> |
    <%= link_to 'Back', questions_path %>
  </div>
</section>