<div class="container-do-login">

    <%=image_tag("logo-branca.png", alt:"Foto da Logo", class:"logo")%>

    <%= form_for(:session, url: login_path) do |f| %>
      <div class = "iconemail">
        <%= f.email_field :email, class: 'form-control', placeholder: "Digite seu email" %>
        <%=image_tag("envelope.png", alt:"Foto da Logo", class:"logo")%>
      </div>
      <div class = "iconpass">
        <%= f.password_field :password, class: 'form-control', placeholder: "Digite sua senha" %>
        <%=image_tag("key.png", alt:"Foto da Logo", class:"logo")%>
      </div>
        <%= f.submit "Log in", class: "button" %>
    <% end %>

    <p>Não tem conta? <%= link_to "Inscreva-se!", new_user_path %></p>
  </div>
</div>

