<section class = "edit-direction container">
    <h1>Directions</h1>
    <h2><%=@current_direction.name%></h2>

    <h3><strong>Editar diretoria :</strong></h3>
    <p>
    <%= form_for(@direction, url: :editadiretoria) do |form| %>
        Nome da diretoria: <%= form.text_field :name %>
        <%= form.hidden_field :direction_id, value: @current_direction.id%>
        <%= form.submit "Criar diretoria"%>
        <%end%>
    </p>

    <h3><strong>Membros da diretoria:</strong></h3>
    <% membros(@current_direction.id).each do |member|%>
    <li><%= member.name %></li>
    <%end%>
    <h3><strong>Adicionar membros a diretoria:</strong></h3>
    <p>
    <%= form_for(@direction_user, url: :add_membro_diretoria) do |form| %>
        <%= form.select(:user_id, User.all.collect { |user| [user.name, user.id] }) %>
        <%= form.hidden_field(:direction_id, value: @current_direction.id) %>
        <%= form.check_box :director %> Diretor
        <%= form.submit "Adicionar membro"%>
        <%end%>
    </p>
</section>