<section class = "diretorias container">
    <h1> Diretorias</h1>
    <div>   
        <hr>
    </div>
    <% Direction.all.each do |direction|%>
        <div class = "cada-diretoria">
            <div class = "container-titulo">
                <p><%= direction.name %></p>
            </div>
            <%if diretor(direction.id) != nil %>
            <p> Diretor: <p>
            <p><%= diretor(direction.id).name%></p>
            <%end%>
            
            <% if presidente() != nil %>
                <p>Presidente:<p> 
                <p><%= presidente().name %></p>
            <%end%>
            <br>
            <%= link_to "Editar", '/directions/edit/'+direction.id.to_s %>
            </div>
    <%end%>
</section>

