<section id = "artigo-edit">
<h1>Editar Artigo</h1>

<%= render 'form', article: @article %>

<div id = "ref">
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
</div>

</section>