<section class = "artigos-index">
<h1>Artigos</h1>
<div class = "container todo-artigo">
    <% @articles.each do |article| %>
        <div class = "cada-artigo">
        <p><%= article.title %></p>
        <p><%= article.content %></p>
        <p><%= article.user.name.capitalize %></p>
        <p><%= link_to 'Show', article %></p>
        <p><%= link_to 'Edit', edit_article_path(article) %></p>
        <p><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
    <% end %>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
</section>