<section class = "articles-show">

  <p>
    <strong>Titulo</strong>
  <%= @article.title %>
  </p>

  <p>
    <strong>Conteúdo</strong>
  <%= @article.content %>
  </p>

  <p>
    <strong>Quem postou?</strong>
  <%= @article.user.name.capitalize %>
  </p>

<p> <%= article_likes(@article).size %>
  <%= link_to 'Like', likearticle_path(@article.id), method: :post %> 
  <%=image_tag("like.png", alt:"Foto da Logo", class:"like")%>
</p>

  <p>
  <strong>Tags:</strong>
  <%= @tags.size%>
  <ul>
  <% @tags.each do |tag|%>
      <li> <%= tag.name %> </li>
  <%end%>
  </ul>
</p>

<p>
  <%= form_for(@tag_article, url: :addarticletag) do |form| %>
    <%= form.select(:tag_id, @tag_all.collect { |tag| [tag.name, tag.id] }) %>
    <%= form.hidden_field :article_id,value: @article.id %>
    <%= form.submit %>
<%end%>

<p> 
<strong>Feedbacks:</strong><br>
  <% @comments.each do |comment|%>
    <%= comment_user(comment.user_id).name.capitalize %>: <%= comment.content%>
    <%if comment.user_id == current_user.id %>
    <%= link_to 'Apagar', '/destroycomment?article='+@article.id.to_s+'&comment='+comment.id.to_s, method: :delete %> <br>
    <%end%>
  <%end%>
</p>

<p> Adicionar Feedbacks: 
  <%= form_for(@comment, url: :addcomment) do |form| %>
    <%= form.text_area :content %>
    <%= form.hidden_field :article_id,value: @article.id %>
    <%= form.submit %>
  <%end%>
</p>

<div id = "ref">
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>

</section>

