<section class = "admin container">
    <h1>Pagina de admin</h1>

    <h3><strong>Diretorias:</strong></h3>
    <p><ul>
    <% Direction.all.each do |direction| %>
    <li> <%=direction.name%> </li>
    <%end%>
    </ul> </p>

    <h3><strong>Criar diretoria:</strong></h3>
    <p>
    <%= form_for(@direction, url: :criadiretoria) do |form| %>
        Nome da diretoria: <%= form.text_field :name %>
        <%= form.submit "Criar diretoria"%>
        <%end%>
    </p>

    <h3><strong>Membros da diretoria:</strong></h3>
    <p>
    <% Direction.all.each do |direction| %>
        <ul> <strong><%=direction.name%> </strong>
        <%membros_diretoria(direction.id).each do |membro|%>
            <li> <%= membro.name%> 
            <%if director?(direction.id, membro.id)%>
            <strong>diretor</strong> </li>
            <%end%>
        <%end%>
        </ul>

    <%end%>
    </ul> </p>


    <h3><strong>Adicionar membros a diretoria:</strong></h3>
    <p>
    <%= form_for(@direction_user, url: :addmembrodiretoria) do |form| %>
        <%= form.select(:user_id, User.all.collect { |user| [user.name, user.id] }) %>
        <%= form.select(:direction_id, Direction.all.collect { |direction| [direction.name, direction.id] }) %>
        <%= form.check_box :director %> Diretor
        <%= form.submit "Adicionar membro"%>
        <%end%>
    </p>

    <h3><strong>Celulas:</strong></h3>
    <p><ul>
    <% Cell.all.each do |cell| %>
    <li> <%=cell.name%> </li>
    <%end%>
    </ul> </p>

    <h3><strong>Criar Celula:</strong></h3>
    <p>
    <%= form_for(@cell, url: :criacelula) do |form| %>
        Nome da celula: <%= form.text_field :name %>
        <%= form.submit "Criar celula"%>
        <%end%>
    </p>

    <h3><strong>Membros da celula:</strong></h3>
    <p>
    <% Cell.all.each do |cell| %>
        <ul> <strong><%=cell.name%> </strong>
        <%membros_celula(cell.id).each do |membro|%>
            <li> <%= membro.name%> </li>
        <%end%>
        </ul>

    <%end%>
    </ul> </p>


    <h3><strong>Adicionar membros a celula:</strong></h3>
    <p>
    <%= form_for(@cell_user, url: :addmembrocelula) do |form| %>
        <%= form.select(:user_id, User.all.collect { |user| [user.name, user.id] }) %>
        <%= form.select(:cell_id, Cell.all.collect { |cell| [cell.name, cell.id] }) %>
        <%= form.check_box :manager %> Gerente
        <%= form.submit "Adicionar membro"%>
        <%end%>
    </p>

</section>