<section id='editForm' class='container'>

    <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

        <section id='editUser'>

            <h2> Editando dados cadastrais </h2>

            <div class='field'>
                <%= form.text_field :name, placeholder: 'Digite novo nome' %>
            </div>

            <div class='field'>
                <%= form.number_field :age, placeholder: 'Digite nova idade' %>
            </div>

            <div class='field'>
                <%= form.text_field :email, placeholder: 'Digite novo email' %>
            </div>

            <div class='actions botoes botao'>
                <%= form.submit %>
            </div>

        </section>

            
    <% end %>

</section>