<section id = "register-all" class = "container">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "container-do-registrar">
      
      <h2> Cadastro </h2>

      <%=image_tag("logo-branca.png", alt:"Foto da Logo", class:"logo")%>


      <div class="field">
            <%=image_tag("user.png", alt:"Foto da Logo", class:"avatar")%>
            <%= form.text_field :name, placeholder: "Digite seu nome" %>
      </div>

      <div class="field">
            <%=image_tag("age.png", alt:"Foto da Logo", class:"avatar")%>
            <%= form.number_field :age, placeholder: "Digite sua idade" %>  
      </div>

      <div class="field">
          <%=image_tag("envelope.png", alt:"Foto da Logo", class:"avatar")%>
          <%= form.text_field :email, placeholder: "Digite seu email" %>
      </div>

      <div class="field">
          <%= form.file_field :picture, placeholder: "Foto de perfil" %>
      </div>

      <div class="field">
          <%= form.password_field :password, placeholder: "Digite sua senha" %>
      </div>

      <div class="field">
          <%= form.password_field :password_confirmation, placeholder: "Confirme senha" %>
      </div>

      <div class="field">
          <%= form.date_field :entry %>
      </div>

      <div class="actions">
          <%= form.submit %>
      </div>
<% end %>
</section>
