<section id='userEdit'>

    <%= render 'editForm', user: @user %>


    <div class='botoes'>
        <div class='botao'>
            <%= link_to 'Mostrar', @user %>
        </div>
        <div class='botao'>
            <%= link_to 'Voltar', users_path %>
        </div>
    </div>

</section>