<section id='userIndex' class='container'>

  <p id="notice"><%= notice %></p>

  <div class='userIndexTitle'>
    <h1>Usuários cadastrados</h1>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Diretoria</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <div class='userInfo'>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
            <% if user_direction(user.id) != nil %>
            <%= user_direction(user.id).name %> 
            <% else %> Sem Diretoria
            <%end%>
            </td>
          </div>
          <td><%= link_to 'Mostrar', user , :class => 'botao'%></td>
          <td><%= link_to 'Editar', edit_user_path(user) , :class => 'botao'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Usuário', new_user_path , :class => 'botao'%>

</section>