<section id='showUser' class = "container">
  
    <%if @user.picture.url != nil %>
    <%= image_tag @user.picture.url %>
    <%end%>
    
    <h3><strong>Nome:</strong></h3>
    <p><%= @user.name %></p>

  
    <h3><strong>Idade:</strong></h3>
    <p><%= @user.age %></p>

    <h3><strong>Email:</strong></h3>
    <p><%= @user.email %></p>

    <h3><strong>Diretoria:</strong></h3>
    <% if user_direction(@user.id) != nil %>
    <p><%= user_direction(@user.id).name %></p>
    <%else%> Sem Diretoria 
    <%end%>

    <h3><strong>Data de ingresso:</strong></h3>
    <p><%= @user.entry %></p>
    

  <h3><strong>Artigos:</strong></h3>
    <p>
      <ul>  
        <% @articles.each do |article| %>
          <% if article.user_id == @user.id %>
            <li><%= link_to article.title, article %> 
          <%= article_likes(article).size %> Likes </li>
          <%end%>
        <%end%>
        <section class = "showUser-projetos">
          <div class = "projetos-atuais container">
            <h3><strong>Projetos ativos: </strong></h3>
            <ul>
              <% user_projects_undone(@user).each do |project|%>
                <li> <%= project.name %> 
                </li>
              <%end%>
            </ul>
          </div>
    </p>    
        <div class = "projetos-antigos container">
          <h3><strong>Projetos concluidos: </strong></h3>
          <p>
            <ul>
              <% user_projects_done(@user).each do |project|%>
                <li> <%= project.name %> 
                </li>
              <%end%>
            </ul>
          </p>
        </div>
  </section>
  
  <div class='botoes'>
      <div class='botao'>
          <%= link_to 'Edit', edit_user_path(@user) %>
      </div>
      <div class='botao'>
          <%= link_to 'Back', users_path %>
      </div>
  </div>


</section>

