<section class = "projetos-edit">
<h1>Editar Projeto</h1>

<%= render 'form', project: @project %>

<p>
<strong>Membros:</strong>
<ul class = "container">
<% projectmembers.each do |member| %>
    <li> Nome: <%= member.name%> 
    Celula: <%= member_cell(member.id).name%>
    <%= link_to "remove membro", '/removemember?member='+member.id.to_s+'&project='+@project.id.to_s, method: :delete %> </li>
<%end%>
</ul>
</p>

<p>
<strong>Adicionar Membros: </strong>
<%= form_for(@project_user, url: :addprojectmember) do |form| %>
    <%= form.select(:user_id, User.all.collect { |user| [user.name, user.id] }) %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.submit "Adicionar membro"%>
    <%end%>
</p>

<p>
    <strong>Tarefas:</strong>
    <ul class = "container">
    <% projecttasks.each do |task| %>
    <li> <%=task.content%> 
    <%= link_to "remove tarefa", '/removetask?task='+task.id.to_s+'&project='+@project.id.to_s, method: :delete %> </li>
    <%end%>
    </ul>
</p>

<p>
  <strong>Adicionar Tarefas:</strong>
  <%= form_for(@project_task, url: :addprojecttask) do |form|%>
    <%= form.text_field :content %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.submit "Adicionar tarefa" %>
  <%end%>
</p>

<div id = "ref">
    <p>
    <%= link_to 'Show', @project %> |
     <%= link_to 'Back', projects_path %>
    </p>
</div>

</section>
