<section class = "projetos-show">

  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Membros:</strong>
    <ul class = "container">
    <% projectmembers.each do |member| %>
    <li> Nome: <%= member.name%> 
    Celula: <%= member_cell(member.id).name%>
 
      <%= link_to "remove membro", '/removemember?member='+member.id.to_s+'&project='+@project.id.to_s, method: :delete %> </li>
    <%end%>
    </ul>
  </p>
  <p>
    <strong>Tarefas:</strong>
    <ul class = "container">
    <% projecttasks.each do |task| %>
    <li> <%=task.content%> 
    <%= link_to "remove tarefa", '/removetask?task='+task.id.to_s+'&project='+@project.id.to_s, method: :delete %> </li>
    <%end%>
    </ul>
  </p>


<p>
  <strong>Projeto pronto</strong>
    <%= link_to "projeto terminado", '/projectdone?project='+@project.id.to_s, method: :post %> </li>
</p>

<div id = "ref">
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>
</section>
