<section class = "metas-edit">
<h1>Editar Metas</h1>

<%= render 'form', goal: @goal %>

<p>
  <strong>Tarefas:</strong>
  <ul>
  <% tasks(@goal.id).each do |task| %>
  <li><%= task.name %>
    <%= link_to 'Check', check_task_path(task.id), method: :post  %></li>
    <%= link_to 'Remover', remove_task_path(task.id), method: :delete  %></li>
  <%end%>
  </ul>
</p>

<p>
  <strong>Adicionar tarefas:</strong>
  <%= form_for(@goal_task, url: :addgoaltask) do |form| %>
  <%= form.text_field :name %>
  <%= form.hidden_field :goal_id, value: @goal.id %>
  <%= form.submit "Adicionar tarefa"%>
  <%end%>
</p>

<div id = "ref">
  <%= link_to 'Show', @goal %> |
  <%= link_to 'Back', goals_path %>
</div>
</section>