<section class = "metas-index">
<p id="notice"><%= notice %></p>

<h1>METAS</h1>

<table class = "container">
  <thead>
    <tr>
      <th>Name</th>
      <th>tarefa</th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.name %></td>
        <td><ul>
        <% tasks(goal.id).each do |task| %>
        <li><%= task.name %>
        <%if task.check%> (icone de check)
        <%end%>
        </li>
        <%end%>
        </ul>
        
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path %>
</section>