<section class = "metas-show">

  <p>
    <strong>Name:</strong>
    <%= @goal.name %>
  </p>

  <p>
    <strong>Tarefas:</strong>
    <ul>
    <% tasks(@goal.id).each do |task| %>
    <li><%= task.name %>
    <%if task.check%> (icone de check)
    <%end%>
    </li>
    <%end%>
    </ul>
  </p>

<div id = "ref">
  <%= link_to 'Edit', edit_goal_path(@goal) %> |
  <%= link_to 'Back', goals_path %>
  </div>

</section>