/* Reset */

body, h1, h2, h3, p, ul, header {
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    
}

.clear:after, clear:before{
    content: "";
    display: table;
    clear: both;
}

html, body{
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: #f0f0f5;
    
}

.botoes {
    text-align: center;
}

.botao, .actions botoes botao > input  {
    width: 100px;
    border: 1px solid #666;
    background-color: #f2f2f2; 
    display: inline-block;
    text-align: center;
    border-radius: 6%;
    margin: 10px;
    text-decoration: none;
    color: #252525;
    font-size: 1.25em;
    font-weight: bold;
}

.botao:hover {
    background-color: #1a3652;
    color: #f0f0f5;
    transition: 0.5s;
}

.botao a{
    text-decoration: none;
    color: #252525;
}

.botao a:hover {
    background-color: #1a3652;
    color: #f0f0f5;
    transition: 0.5s;
}

/* Index 


1 - Navbar
2 - Tela de Cadastro
3 - Login
4 - Artigos
5 - Edição de Usuário
6 - Perfil do Usuário
7 - Projetos
8 - Perguntas
9 - Metas
10 - Diretorias
11 - Índex de Usuários
12 - Celulas


/* 1 - Navbar */

#navbar img {
    height: 80px;
    margin: 0px 0px 0px 100px;
}

#navbar {
    background-color: #1a3652;
    padding: 25px 0;
    width: 100%;
}

#navbar ul{
    float:right;
    padding-right: 50px;
    margin-right: 10px;
}

#navbar ul li{
    margin: 20px 0px;
    display: inline-block;
}

#navbar ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    margin: 0px 10px;
    text-decoration: none;
    color: #f2f2f2;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 13px;
}

#navbar ul li a:hover{
    color:#252525;
    background-color:#f7f9ff;
    transition-duration: 0.4s;
    border-radius: 25%;
}

/* 2 - Tela de Cadastro */

.container-do-registrar{
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-left: 85px;
    width: 700px;
    background: linear-gradient(to bottom right, #003380    0%, #4F90E8 100%);    position: absolute;
}

#register-all .field{
    margin: 30px;
}

#register-all .field img{
    margin-right: 15px;
}

#register-all .field input{
    padding: 10px 20px;
    text-align: center;
    font-size: 2em;
    border-radius: 6%;
}

.container-do-registrar h2{
    color: #f2f2f2;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#register-all .field label{
    color: #f2f2f2;
    font-size:1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-right: 10px;
}

#register-all .actions input{
    padding: 10px 30px;
    font-size: 1.25em;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    border: 2px solid grey;
}

.container-do-registrar .logo{

    height: 125px;
}

/* 3 - Login */

.container-do-login{
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-left: 27%;
    width: 700px;
    background: linear-gradient(to bottom right, #003380 0%, #4F90E8 100%);    position: absolute;
}

.container-do-login label{
    color: #f2f2f2;
    font-size:1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.container-do-login input{
    padding: 10px 20px;
    text-align: center;
    font-size: 1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin-left: 27%;
}


.container-do-login p{
    color: #f2f2f2;
    font-size:1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}

.container-do-login form{
    padding: 40px;
}

.container-do-login .logo{
    width: 125px;
    height: 125px;
    padding-top: 45px;
}

.container-do-login .button{
    cursor: pointer;
    border: 2px solid grey;
    font-weight: bold;
}

.container-do-login .iconemail img{
    width: 32px;
    height: 32px;
    position: relative;
    right: 170px;
    bottom: 85px;
}

.container-do-login .iconpass img{
    width: 32px;
    height: 32px;
    position: relative;
    right: 170px;
    bottom: 85px;
}

/* 4 - Artigos */

.articles-show{
    background-color: #f0f0f5;
    height: 100vh;
    padding-top: 30px;
}

.articles-show p {
    text-align: center;
    display:flex;
    flex-direction: column;
    color: #252525;
    font-family: sans-serif;

}

.articles-show p strong{
    font-size: 2.25em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-shadow: 2px 2px #fff;
    margin-top: 25px;
}

.articles-show a{
    text-decoration: none;
    color: #252525;
    border: 2px #fff;
}

.articles-show #new_tag_article{
    margin-top: 40px;
    margin-left: 46%;
}

.articles-show #new_tag_article input{
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.articles-show #new_comment{
    margin-left: 46%;
}

.articles-show #new_comment input{
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.articles-show .like{
    width: 30px;
    height: 30px;
    margin-left: 49%;
    margin-top: 10px;
}

.artigos-index{
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
    text-align: center;
}

.artigos-index h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 35px;
}

.artigos-index .cada-artigo p {
    font-size: 1.25em;
    font-family: sans-serif;
    margin-top: 7px;
}

.artigos-index .todo-artigo {
    background-color: #1a3652; 
    padding: 40px;
    box-shadow: 5px 5px #252525;
}

.artigos-index .cada-artigo{
    background-color:#b3ccff;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 3%;
}

.artigos-index .cada-artigo a {
    text-decoration: none;
    color: #252525;
}

.artigo-new{
    background-color:#f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.artigo-new h1 {
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

.artigo-new h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}

.artigo-new form {
    margin: 0 45%;
}

.artigo-new form .field label{
    font-size: 1.75em;
    font-family: Georgia;
}

.artigo-new form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.artigo-new form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.artigo-new form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}

#artigo-edit{
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

#artigo-edit h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

#artigo-edit h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}

#artigo-edit form {
    margin: 0 45%;
}

#artigo-edit form .field label{
    font-size: 1.75em;
    font-family: Georgia;
}

#artigo-edit form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

#artigo-edit form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

#artigo-edit form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}

/* 5 - Edição de Usuário */

#editUser {
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;

}

#editUser .field {
    margin: 20px;   
}

#editUser .field input {
    text-align: center;
    border-radius: 10%;
    padding: 10px 20px;
    font-size: 1.5em;
}

#editUser h2 {
    font-size: 2em;
    color: #252525;
    padding-top: 60px;
    padding-bottom: 30px;
}

/* 6 - Perfil do Usuário */

#showUser{
    padding: 50px 20px;
    text-align: center;
}

#showUser h3{
    margin-top: 20px;
    font-size: 2em;
    min-height: 50px;
}

#showUser p{
    margin-bottom: 20px;
    font-size: 1.5em;
    min-height: 30px;
}

#showUser ul li {
    text-decoration: none;
    color: #252525;
    margin-top: 15px;
    display: block;
}

.projetos-atuais h3 {
    font-size: 1.75em;
}

.projetos-atuais ul li {
    text-decoration: none;
    font-size: 1.15em;
}

.projetos-antigos h3 { 
    font-size: 1.75em;
}

.projetos-atuais ul li {
    text-decoration: none;
    font-size: 1.15em;
}


/* 7 - Projetos */

.projetos-index {
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.projetos-index h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

.projetos-index h1:after{
    content: '';
	display: block;
	width: 250px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}

.projetos-index table tbody tr td{
    padding: 15px;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #f0f0f5;

}

.projetos-index table thead tr th {
    font-size: 1.75em;
    font-family: Georgia;
    color: #252525;
}

.projetos-index table thead tr th::after{
    content: "";
    background: #252525;
    display: block;
    width: 20px;
    height: 4px;
    margin: 10px auto 0 auto;
}

.projetos-index tbody {
    background-color: #1a3652;
}

.projetos-index tbody tr td a{
    padding-right: 50px;
    color: #f0f0f5;
}

.projetos-index a {
    text-decoration: none;
    color: #252525;
    margin-left: 47%;
}

.projetos-show{
    background-color: #f0f0f5;
    height: 150vh;
    padding-top: 30px;
}

.projetos-show p {
    text-align: center;
    display:flex;
    flex-direction: column;
    color: #252525;
    font-family: sans-serif;

}

.projetos-show p strong{
    font-size: 2.25em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-shadow: 2px 2px #fff;
    margin-top: 25px;
}

.projetos-show a{
    text-decoration: none;
    color: #252525;
    border: 2px #fff;
}

.projetos-show ul li {
    text-transform: uppercase;
    display: block;


}

.projetos-show ul li a {
    text-transform: lowercase;
    font-weight: bold;
}

.projetos-show form {
    margin: 0 45%;
}

.projetos-show form label{
    font-size: 1.75em;
    font-family: Georgia;
}

.projetos-show form input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-show form select{
    margin-bottom: 10px;
}

.projetos-edit {
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.projetos-edit h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

.projetos-edit h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}


.projetos-edit form .field label{
    font-size: 1.75em;
    font-family: Georgia;
}

.projetos-edit form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-edit form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-edit form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}

.projetos-edit form {
    margin: 0 45%;
}

.projetos-edit p {
    text-decoration: none;
    color: #252525;
    text-align: center;
    margin-top: 25px;
}

.projetos-edit #new_project_user input{
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-edit #new_project_user select{
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-edit #new_project_task input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-edit ul li {
    text-align: center;
    font-size: 1.125em;
    display: block;
}

.projetos-new{
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.projetos-new h1 {
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
    margin-bottom: 40px;
}

.projetos-new h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}

.projetos-new form {
    margin: 0 45%;
}

.projetos-new form .field label{
    font-size: 1.75em;
    font-family: Georgia;
}

.projetos-new form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-new form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.projetos-new form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}


/* 8 - Perguntas */

.question-show{
    background-color: #f0f0f5;
    height: 150vh;
    padding-top: 30px;
}

.question-show p {
    text-align: center;
    display:flex;
    flex-direction: column;
    color: #252525;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;

}

.question-show p strong{
    font-size: 2.25em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-shadow: 2px 2px #fff;
    margin-top: 25px;
}

.question-show a{
    text-decoration: none;
    color: #252525;
    border: 2px #fff;
}

.question-show ul li {
    text-transform: uppercase;
    display: block;


}

.question-show ul li a {
    text-transform: lowercase;
    font-weight: bold;
}

.question-show form {
    margin: 0 45%;
}

.question-show form label{
    font-size: 1.75em;
    font-family: Georgia;
}

.question-show form input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.question-show form select{
    margin-bottom: 10px;
}

.question-new{
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.question-new h1 {
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
    margin-bottom: 40px;
}

.question-new h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}

.question-new form {
    margin: 0 45%;
}

.question-new form .field label{
    font-size: 1.75em;
    font-family: Georgia;
}

.question-new form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.question-new form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.question-new form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}

.question-index {
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.question-index h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

.question-index h1:after{
    content: '';
	display: block;
	width: 250px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}

.question-index table tbody tr td{
    padding: 15px;
    font-size: 1.25em;
    font-family: sans-serif;
    color:#f0f0f5; 

}

.question-index table thead tr th {
    font-size: 1.75em;
    font-family: Georgia;
    color: #252525;
}

.question-index table thead tr th::after{
    content: "";
    background: #252525;
    display: block;
    width: 20px;
    height: 4px;
    margin: 10px auto 0 auto;
}

.question-index tbody {
    background-color: #1a3652;
}

.question-index table tbody tr td a{
    padding-right: 50px;
    color: #f0f0f5;
}

.question-index a {
    text-decoration: none;
    color: #252525;
    margin-left: 47%;
}


.question-edit {
    background-color:#f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.question-edit h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

.question-edit h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}


.question-edit form .field label{
    font-size: 1.75em;
    font-family: Georgia;
}

.question-edit form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.question-edit form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.question-edit form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}

.question-edit form {
    margin: 0 45%;
}

.question-edit p {
    text-decoration: none;
    color: #252525;
    text-align: center;
    margin-top: 25px;
}


/* 9 - Metas */


.metas-show{
    background-color: #f0f0f5;
    height: 150vh;
    padding-top: 30px;
}

.metas-show p {
    text-align: center;
    display:flex;
    flex-direction: column;
    color: #252525;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;

}

.metas-show p strong{
    font-size: 2.25em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-shadow: 2px 2px #fff;
    margin-top: 25px;
}

.metas-show a{
    text-decoration: none;
    color: #252525;
    border: 2px #fff;
    
}

.metas-show ul li {
    text-transform: uppercase;
    display: block;
    text-align: center;


}

.metas-show ul li a {
    text-transform: lowercase;
    font-weight: bold;
}

.metas-show form {
    margin: 0 45%;
}

.metas-show form label{
    font-size: 1.75em;
    font-family: Georgia;
}

.metas-show form input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.metas-show form select{
    margin-bottom: 10px;
}

#ref {
    margin-left: 47%;
    margin-top: 30px;
}

.metas-new{
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.metas-new h1 {
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
    margin-bottom: 40px;
}

.metas-new h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}

.metas-new form {
    margin: 0 45%;
}

.metas-new form .field label{
    font-size: 1.75em;
    font-family: Georgia;
}

.metas-new form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.metas-new form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.metas-new form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}

.metas-index {
    background-color: #f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.metas-index h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

.metas-index h1:after{
   content: '';
	display: block;
	width: 250px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
        
}

.metas-index table tbody tr td{
    padding: 15px;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #f0f0f5;

}

.metas-index table thead tr th {
    font-size: 1.75em;
    font-family: Georgia;
    color: #252525;
}

.metas-index table thead tr th::after{
    content: "";
    background: #252525;
    display: block;
    width: 20px;
    height: 4px;
    margin: 10px auto 0 auto;
}

.metas-index tbody {
    background-color: #1a3652;
}

.metas-index tbody tr td a{
    padding-right: 50px;
    color: #f0f0f5;
}

.metas-index a {
    text-decoration: none;
    color: #252525;
    margin-left: 47%;
}


.metas-edit {
    background-color:#f0f0f5;
    height: 100vh;
    padding: 200px 0;
}

.metas-edit h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
}

.metas-edit h1:after {
    content: '';
	display: block;
	width: 300px;
	height: 2px;
	background: #252525;
    margin: 10px auto;
    margin-bottom: 40px;
}


.metas-edit form .field label{
    font-size: 1.75em;
    font-family: Georgia;
    text-align: center;
    margin-bottom: 20px;
}

.metas-edit form .field input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.metas-edit form .field textarea {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.metas-edit form .actions input {
    font-size: 1.25em;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    cursor: pointer;    
}

.metas-edit form {
    margin: 0 45%;
}

.metas-edit p {
    text-decoration: none;
    color: #252525;
    text-align: center;
    margin-top: 25px;
    font-size: 1.125em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.metas-edit ul li {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 1.125em;
    font-family: sans-serif;
}

.metas-edit ul li a {
    text-align:center;
    text-decoration: none;
}

.metas-edit ul a{
    text-align: center;
    text-decoration: none;
}

.metas-edit #new_goal_task{
    margin-left: 45%
}

.metas-edit #new_goal_task input{
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
    }


/* 10 - Diretorias */


.diretorias h1 {
    font-size: 2.25em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
}

.cada-diretoria{
    display:flex;
    flex-direction: column;
    background-color: #1a3652;
    padding: 50px;
    margin-top: 40px;
    max-width: 500px;
    height: 200px;
    color: #f0f0f5;
    box-shadow: 5px 5px #252525;
}

.cada-diretoria a{
    align-self: flex-end;
    text-decoration: none;
    color: #f0f0f5;
    
}
/* 11 - Índex de Usuários */

td {
    text-align: center;
    margin: 15px;
    color: #252525;
    font-size: 1.25em;
}

th {
    font-size: 1.75em;
    border: 20px solid #f0f0f5;
    max-width: 100px;
}

.userIndexTitle{
    font-size: 1.25em;
    padding: 25px;
    text-align: center;
}

.userInfo{
    padding: 0 5px;
    border: 0 10px;
}

.botaoCentral{
    float: auto;
}

.cada-diretoria h5 {
    align-self: flex-start;
}

.cada-diretoria p {
    font-size: 1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f0f0f5;
    margin: 7px;
    padding-top: 7px;   
}

.cada-diretoria .container-titulo {
    position: relative;
    top: -35px; 
}

.cada-diretoria .container-titulo p {
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f0f0f5;
    font-weight: 600;
}

/* 12 - Celulas */

.celulas h1 {
    font-size: 2.25em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
}

.cada-celula{
    display:flex;
    flex-direction: column;
    background-color: #1a3652;
    padding: 50px;
    margin-top: 40px;
    max-width: 500px;
    height: 200px;
    color: #f0f0f5;
    box-shadow: 5px 5px #252525;
}

.cada-celula a{
    align-self: flex-end;
    text-decoration: none;
    color: #f0f0f5;
    
}

.cada-celula h5 {
    align-self: flex-start;
}

.cada-celula p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: #f0f0f5;
    margin: 7px;
    padding-top: 7px;
}

.cada-celula .container-titulo {
    position: relative;
    top: -35px; 
}

.cada-celula .container-titulo p {
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f0f0f5;
    font-weight: 600;
}

.edit-direction {
    background-color: #f0f0f5;
    height: 100vh;
}

.edit-direction h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
}

.edit-direction h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
}

.edit-direction h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
}

.edit-direction #new_direction input{
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.edit-direction #new_direction_user input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.edit-direction #new_direction_user select {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.edit-celula {
    background-color: #f0f0f5;
    height: 100vh;
}

.edit-celula h1{
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
}

.edit-celula h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
}

.edit-celula h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
}

.edit-celula #new_cell input{
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.edit-celula #new_cell_user input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.edit-celula #new_cell_user select {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.admin {
    background-color: #f0f0f5;
    padding-top: 40px;
    text-align: center;
}

.admin h1 {
    font-size: 2.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.admin h3 {
    font-size: 1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.admin #new_direction input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.admin #new_direction {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125em;
    font-weight: 600;
}

.admin #new_direction_user input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.admin #new_direction_user select {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.admin #new_direction_user {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125em;
    font-weight: 600;
}

.admin #new_cell input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.admin #new_cell {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125em;
    font-weight: 600;
}

.admin #new_cell_user input {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}


.admin #new_cell_user select {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.2em;
    font-size: 1.125em;    
    margin-bottom: 20px;
}

.admin #new_cell_user {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125em;
    font-weight: 600;
}