<section class = "edit-celula container">
    <h1>Cells</h1>
    <h2><%=@current_cell.name%></h2>
    <h3><strong>Editar celula :</strong></h3>
    <p>
    <%= form_for(@cell, url: :editacelula) do |form| %>
        Nome da celula: <%= form.text_field :name %>
        <%= form.hidden_field :cell_id, value: @current_cell.id%>
        <%= form.submit "Criar celula"%>
        <%end%>
    </p>

    <h3><strong>Membros da celula:</strong></h3>
    <% membros(@current_cell.id).each do |member|%>
    <li><%= member.name %></li>
    <%end%>
    <h3><strong>Adicionar membros a celula:</strong></h3>
    <p>
    <%= form_for(@cell_user, url: :add_membro_celula) do |form| %>
        <%= form.select(:user_id, User.all.collect { |user| [user.name, user.id] }) %>
        <%= form.hidden_field(:cell_id, value: @current_cell.id) %>
        <%= form.check_box :manager %> Gerente
        <%= form.submit "Adicionar membro"%>
        <%end%>
    </p>
</section>
