<section class = "celulas container">
    <h1>Celulas</h1>   
    <div>
        <hr>
    </div>
    <% Cell.all.each do |cell|%>
        <div class = "cada-celula">
            <div class = "container-titulo">
                <p><%= cell.name %></p>
            </div>
        <%if gerente(cell.id) != nil %>
        <p> Gerente: </p>
        <p><%= gerente(cell.id).name%></p>
        <%end%>
        <%= link_to "Editar", '/cells/edit/'+cell.id.to_s %>
        </div>
    <%end%>
</section>