<nav id = "navbar">
<%=image_tag("logo-branca.png", alt:"Foto da Logo")%>
 <ul>
     <li><%= link_to 'Perfil', current_user %></li>
     <li><%= link_to 'Artigos',articles_path %></li>
     <li><%= link_to 'Metas', goals_path %></li>
     <li><%= link_to 'Perguntas', questions_path %></li>
     <li><%= link_to 'Projetos', projects_path %></li>
     <li><%= link_to 'Diretorias', directions_path %></li>
     <li><%= link_to 'Celulas', cells_path %>
     <li><%= link_to 'Sair', logout_path, method: :delete %></li>
    </ul>
</nav>


