<!DOCTYPE html>
<html>
  <head>
    <title>Wikia1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header><%= render partial: "layouts/header"%></header>
  <% if logged_in?%>

  <% end %>
    <%= yield %>
  </body>
</html>
